@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
  --background-dark: rgb(24,23,32);
  --font-text: rgb(255, 255, 255);
  --box-width: 500px;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  background-color: var(--background-dark);
  font-family: "Montserrat", sans-serif;
}


h2, p {
  color: var(--font-text);
  font-size: 30px;
}


/*------------------------------------------*/
/*              Header                      */
/*------------------------------------------*/

header {
  background-color: #654ede;
  color: #ffffff;
  height: 60px;
  display: flex;
}

h1 {
  text-align: left;
  line-height: 60px;
  font-size: 32px;

}

nav ul {
  gap: 20px;
}

nav ul li {
  line-height: 60px;
  list-style: none;
}

nav ul li a {
  color:#ffffff;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  cursor: default;
  transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
  color: #0f00ab;
}

.header-nav {
  display: flex;
  gap:30px;
}


/*------------------------------------------*/
/*              Display                     */
/*------------------------------------------*/

.content {
  display:flex;
  justify-content: center;
}


.info {
  display: flex;
  gap: 8px;
  margin-left: 15px;
  padding: 8px 0;
}

.info h2 {
  line-height: 24px;
}

.box {
  width:var(--box-width);
  border: solid 1px #35323a;
  border-radius: 5px;
  margin: 50px 0;
  justify-content: center;
  box-shadow: 1px 1px;

}

.box-title {

  background-color: #654ede;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  height: 30px;
}

.box-title h2{
  line-height: 30px;
}

.result{
  color: #c0c0c0;
}

.box-online {
  height: 60px;
  line-height: 60px;
  width: var(--box-width);
  background-color: #ee1e1e;
  border: 1px solid #ee1e1e;
  border-radius: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
  box-shadow: 1px 1px;
  margin-bottom: 15px;
}

/*------------------------------------------*/
/*              Utility                     */
/*------------------------------------------*/


.space-around{
  justify-content: space-around;
}

.space-evenly{
  justify-content: space-evenly;
}

.space-between{
  justify-content: space-between;
}

.flex{
  display: flex;
}

.center{
  align-content: center;
}

